# Reusable security-headers snippet to use across sites
(security-headers) {
	header {
		# Prevent HTTP referrer header leaking (privacy protection)
		Referrer-Policy "no-referrer"

		# Enable HTTP Strict Transport Security (HSTS) to force clients to always connect via HTTPS
		Strict-Transport-Security "max-age=31536000;"

		# Enable cross-site filter (XSS) and tell browser to block detected attacks
		X-XSS-Protection "1; mode=block"

		# Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
		X-Content-Type-Options "nosniff"

		# Disallow the site to be rendered within a frame (clickjacking protection)
		X-Frame-Options "SAMEORIGIN"

		# Opt out of Google's Federated Learning of Cohorts (FLoC)
		Permissions-Policy "interest-cohort=()"

		-Server
	}
}

# Reusable logging snippet to use across sites
(logging) {
	log {
		output file /var/log/caddy/access.log
		format console
	}
}

api.drop.energy {
	tls admin@drop.energy

	import security-headers
	import logging

	root * /srv/www/drop

	reverse_proxy drop_api:8000

	encode zstd gzip
}

admin.drop.energy {
	tls admin@drop.energy

	import security-headers
	import logging

	root * /srv/www/drop

	reverse_proxy drop_admin:3000

	encode zstd gzip
}
